<app-plotly-chart-card 
  [chartTitle]="'Atmospheric Pressure Analysis'"
  [chartData]="chartData"
  (downloadCSV)="downloadCSV()"
  (downloadPNG)="downloadPNG()">
  <div class="plotly-atmospheric-pressure-chart">
    <div class="plotly-atmospheric-pressure-chart__groupby-btns">
      <button [class.active]="groupBy === 'hour'" (click)="setGroupBy('hour')">Hourly</button>
      <button [class.active]="groupBy === 'weekly'" (click)="setGroupBy('weekly')">Weekly</button>
    </div>
    <div #chartContainer class="plotly-atmospheric-pressure-chart__container"></div>
  </div>
</app-plotly-chart-card> 