<footer class="footer">
  <div class="footer__container">
    <!-- Left section: Logo and Acknowledgement -->
    <div class="footer__left">
      <img class="footer__logo" src="/images/logo.webp" alt="Trent University Logo">
      <p>
        Trent University respectfully acknowledges it is located on the treaty and traditional territory of the Mississauga Anishinaabeg.
        <a href="https://www.trentu.ca/we-offer-our-gratitude">We offer our gratitude</a> to First Peoples for their care for, and teachings about, our earth and our relations.
        May we honour those teachings.
      </p>
    </div>

    <!-- Right section: Stacked blocks -->
    <div class="footer__right">
      <div class="footer__right-top">
        <!-- Peterborough -->
        <div class="footer__contact">
          <b>Peterborough</b>
          <p>1600 West Bank Drive<br>Peterborough, ON Canada, K9L 0G2</p>
          <p>Toll Free: <a href="tel:1-855-698-7368">1-855-MY-TRENT</a></p>
          <a href="https://www.trentu.ca/map/" class="footer__link"><i class="fas fa-map-marker-alt"></i> Campus Map</a>
        </div>

        <!-- Durham -->
        <div class="footer__contact">
          <b>Durham Greater Toronto Area</b>
          <p>55 Thornton Road South<br>Oshawa, ON Canada, L1J 5Y1</p>
          <p>Phone: <a href="tel:9054355100">905-435-5100</a></p>
          <a href="https://www.trentu.ca/durham/map/" class="footer__link"><i class="fas fa-map-marker-alt"></i> Campus Map</a>
        </div>


      </div>

      <div class="footer__right-bottom">
        <!-- Social Media -->
        <div class="footer__social">
          <a href="https://www.facebook.com/trentuniversity"><i class="fab fa-facebook"></i></a>
          <a href="https://x.com/TrentUniversity"><i class="fab fa-x-twitter"></i></a>
          <a href="https://www.linkedin.com/school/trent-university/"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/trentuniversity/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/user/trentUniversity"><i class="fab fa-youtube"></i></a>
          <a href="https://www.trentu.ca/about/social-media-directory" class="footer__link">Social Media Directory</a>
        </div>


      </div>




    </div>
  </div>
  <hr class="footer__hr">
  <!-- Footer links -->
  <div class="footer__links">

    <div class="footer__linkContainer">
      <a href="https://www.trentu.ca/">Trent University</a>
    </div>
    <div class="footer__linkContainer"> <a href="https://www.trentu.ca/agriculture/experience/trent-research-farm">Trent Research Farm</a></div>
    <div class="footer__linkContainer">
      <a href="https://github.com/FuyinChe/AMOD5640ProjectFrontend"><i class="fab fa-github"></i> Project Repository</a>
    </div>
    <div class="footer__linkContainer">
      <span>&copy; Copyright 2025 Trent University</span>
    </div>





  </div>
</footer>
