<!--<app-sample-chart>-->
<!--</app-sample-chart>-->

<div class="dashboard">
  <h3 class="dashboard__title">Dashboard for Environmental Data</h3>
  <!-- Date Range Slicer -->
  <div class="dashboard__filter">
    <label>
      From:
      <input type="date" [(ngModel)]="dateRange.start">
    </label>
    <label>
      To:
      <input type="date" [(ngModel)]="dateRange.end">
    </label>
    <button (click)="applyDateFilter()">Apply</button>
  </div>

  <!-- Subcomponents -->
  <div class="dashboard__charts">
    <app-snow-depth-chart [envData]="filteredData"></app-snow-depth-chart>
    <!-- Add other chart components here -->

    <app-humidity-chart [envData]="filteredData"></app-humidity-chart>

    <app-rainfall-chart [envData]="filteredData"></app-rainfall-chart>

    <app-soil-temp5cm-chart [envData]="filteredData"></app-soil-temp5cm-chart>

  </div>
</div>
