<div class="chart-card">
  <div class="chart-card__content">
    <ng-content></ng-content>
  </div>
  <div class="download-buttons" *ngIf="showDownloadButtons">
    <button class="chart__download-btn chart__download-btn--csv" (click)="onDownloadCSV && onDownloadCSV()">
      <i class="fas fa-file-csv"></i>
      CSV
    </button>
    <button class="chart__download-btn chart__download-btn--png" (click)="onDownloadPNG && onDownloadPNG()">
      <i class="fas fa-file-image"></i>
      PNG
    </button>
  </div>
</div> 