<app-chart-card [onDownloadCSV]="downloadCSV" [onDownloadPNG]="downloadPNG">
  <div class="humidity-chart__container">
    <div class="chart-groupby-btns">
      <button [class.active]="groupBy === 'hour'" (click)="setGroupBy('hour')">Hourly</button>
      <button [class.active]="groupBy === 'weekly'" (click)="setGroupBy('weekly')">Weekly</button>
    </div>
    <canvas baseChart
            [type]="chartType"
            [datasets]="chartData"
            [options]="chartOptions"
            [legend]="true">
    </canvas>
  </div>
</app-chart-card>

