<router-outlet>
  <div class="sample-data">
    <h2 class="sample-data__title">Environmental Sample Data</h2>
    <div class="sample-data__buttons">
      <button (click)="downloadAsCSV()" class="sample-data__button sample-data__button--csv">Download CSV</button>
      <button (click)="downloadAsExcel()" class="sample-data__button sample-data__button--excel">Download Excel</button>
    </div>

    <div *ngIf="environmentalSampleData.length > 0; else noData" class="sample-data__table-container">
      <table class="sample-data__table">
        <thead class="sample-data__table-head">
        <tr class="sample-data__table-row sample-data__table-row--head">
          <th class="sample-data__cell">Timestamp</th>
          <th class="sample-data__cell">Air Temp (°C)</th>
          <th class="sample-data__cell">Rel. Humidity (%)</th>
          <th class="sample-data__cell">Shortwave Rad. (W/m²)</th>
          <th class="sample-data__cell">Rainfall (mm)</th>
          <th class="sample-data__cell">Soil Temp 5cm (°C)</th>
          <th class="sample-data__cell">Wind Speed (m/s)</th>
        </tr>
        </thead>
        <tbody class="sample-data__table-body">
        <tr *ngFor="let e of environmentalSampleData" class="sample-data__table-row">
          <td class="sample-data__cell">{{ e.Timestamp }}</td>
          <td class="sample-data__cell">{{ e.AirTemperature_degC !== null ? (e.AirTemperature_degC | number:'1.2-2') : 'N/A' }}</td>
          <td class="sample-data__cell">{{ e.RelativeHumidity_Pct !== null ? (e.RelativeHumidity_Pct | number:'1.2-2') : 'N/A' }}</td>
          <td class="sample-data__cell">{{ e.ShortwaveRadiation_Wm2 !== null ? (e.ShortwaveRadiation_Wm2 | number:'1.2-2') : 'N/A' }}</td>
          <td class="sample-data__cell">{{ e.Rainfall_mm !== null ? (e.Rainfall_mm | number:'1.2-2') : 'N/A' }}</td>
          <td class="sample-data__cell">{{ e.SoilTemperature_5cm_degC !== null ? (e.SoilTemperature_5cm_degC | number:'1.2-2') : 'N/A' }}</td>
          <td class="sample-data__cell">{{ e.WindSpeed_ms !== null ? (e.WindSpeed_ms | number:'1.2-2') : 'N/A' }}</td>
        </tr>
        </tbody>
      </table>
    </div>


    <ng-template #noData>
      <p class="sample-data__no-data">No environmental data to display.</p>
    </ng-template>
  </div>
</router-outlet>
