<router-outlet>

<div class="registration">
  <h2 class="registration__title">User Registration</h2>

  <form class="registration__form" (ngSubmit)="register()" #form="ngForm">
    <input
      class="registration__input"
      type="text"
      placeholder="Username"
      [(ngModel)]="user.username"
      name="username"
      required
    />

    <div class="registration__email-group">
      <input
        class="registration__input registration__input--email-prefix"
        type="text"
        placeholder="Email ID"
        [(ngModel)]="emailPrefix"
        name="emailPrefix"
        required
        pattern="^[a-zA-Z0-9._%+-]+$"
        #emailPrefixInput="ngModel"
      />
      <span class="registration__email-domain">&#64;trentu.ca</span>
    </div>
    <div *ngIf="emailPrefixInput.invalid && emailPrefixInput.touched" class="registration__error">
      Invalid email ID
    </div>

    <input
      class="registration__input"
      type="password"
      placeholder="Password"
      [(ngModel)]="user.password"
      name="password"
      required
    />
    <div class="registration__warning">
      ⚠️ For security reason, please do NOT use your TrentU password for this registration.
    </div>

    <button class="registration__button" type="submit" [disabled]="form.invalid">
      Register
    </button>
  </form>
</div>



</router-outlet>
