<router-outlet>
  <div class="environmental-data">
    <h2 class="environmental-data__title">Environmental Data</h2>
    <div class="environmental-data__container">
      <ul *ngIf="environmentalData.length > 0; else noData" class="environmental-data__list">
        <li *ngFor="let e of environmentalData" class="environmental-data__item">
          <span class="environmental-data__label">ID:</span>
          <span class="environmental-data__value">{{ e.id }}</span>,
          <span class="environmental-data__label">TimeStamp:</span>
          <span class="environmental-data__value">{{ e.Timestamp }}</span>,
          <span class="environmental-data__label">AirTemp:</span>
          <span class="environmental-data__value">{{ e.AirTemperature_degC || 'N/A' }}</span>
        </li>
      </ul>
      <ng-template #noData>
        <p class="environmental-data__no-data">No environmental data to display.</p>
      </ng-template>
    </div>
  </div>
</router-outlet>

