<div class="login">
  <h2 class="login__title">User Login</h2>

  <form class="login__form" (ngSubmit)="login()" #loginForm="ngForm">
    <input
      class="login__input"
      type="email"
      placeholder="Email"
      [(ngModel)]="credentials.email"
      name="email"
      required
      autocomplete="email"
      #emailInput="ngModel"
      pattern="^[a-zA-Z0-9._%+-]+@trentu\.ca$"
    />
    <div *ngIf="emailInput.invalid && emailInput.touched" class="login__error">
      Please enter a valid &#64;trentu.ca email.
    </div>

    <input
      class="login__input"
      type="password"
      placeholder="Password"
      [(ngModel)]="credentials.password"
      name="password"
      required
      autocomplete="current-password"
    />

    <button class="login__button" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</div>
